<div class="grid-container-wrapper">
    <div class="grid-container">
        <div class="card total-customers global-overview cell-1">
            <object data="/assets/dashboard/icons/customers/customers_icon.svg"></object>
            <div class="details">
                <p class="details-title">Total Customers</p>
                <p id="current-year-total-customers">150</p>
            </div>
        </div>
        <div class="card unregistered-customers global-overview cell-2">
            <object data="/assets/dashboard/icons/customers/unregistered_customers_icon.svg"></object>
            <div class="details">
                <p class="details-title">Unregister Customers</p>
                <p id="current-year-unregistered-customers">13</p>
            </div>
        </div>
        <div class="card lost-customers global-overview cell-3">
            <object data="/assets/dashboard/icons/customers/lost_customers_icon.svg"></object>
            <div class="details">
                <p class="details-title">Lost Customers</p>
                <p id="current-year-gone-customers">1</p>
            </div>
        </div>
        <div class="card registered-customers global-overview cell-4">
            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
            <div class="details">
                <p class="details-title">Registered Customers</p>
                <p id="current-year-registered-customers">136</p>
            </div>
        </div>
        <div class="card annual-customers col1-2-row2">
            <p class="card-title">Annual Customers</p>
            <hr>
            <div class="content">
                <div>
                    <canvas id="annual-customers-chart" class="my-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="card col3-2-row2">
            <p class="card-title">Top Customers</p>
            <hr>
            <div class="content">
                <table class="table top-customers-table small-table">
                    <tr>
                        <th>Customer</th>
                        <th>Nb. of Projects</th>
                        <th>Spend</th>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>Tommy Delware</p>
                        </td>
                        <td class="projects-number">
                            <p>30</p>
                        </td>
                        <td class="money-spend">
                            <p>$76654</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>Peter Orangatan</p>
                        </td>
                        <td class="projects-number">
                            <p>25</p>
                        </td>
                        <td class="money-spend">
                            <p>$50654</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>John Dale</p>
                        </td>
                        <td class="projects-number">
                            <p>15</p>
                        </td>
                        <td class="money-spend">
                            <p>$25940</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>Jim Halpert</p>
                        </td>
                        <td class="projects-number">
                            <p>8</p>
                        </td>
                        <td class="money-spend">
                            <p>$10654</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card projects-details col1-4-row3">
            <div class="head">
                <p class="card-title">Customers Details</p>
                <div>
                    <div class="search-bar">
                        <button type="submit"><i class='bx bx-search'></i></button>
                        <input type="search" placeholder="Search.">
                    </div>
                    <button><span class="iconify" data-icon="solar:sort-linear"></span></button>
                </div>
            </div>
            <hr>
            <div class="content">
                <table class="table projects-details-table">
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Registration Date</th>
                        <th>Nb. of Projects</th>
                        <th>Spend</th>
                        <th>Leaving date</th>
                    </tr>
                    <tr>
                        <td class="customer-id">
                            <p>356121</p>
                        </td>
                        <td class="customer-status-name title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>Peter Orangatan</p>
                        </td>
                        <td class="registration-date">
                            <p>2023-05-03</p>
                        </td>
                        <td class="projects-number">
                            <p>10</p>
                        </td>
                        <td class="money-spend">
                            <p>$65940</p>
                        </td>
                        <td class="leaving-date">
                            <p>-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customer-id">
                            <p>356122</p>
                        </td>
                        <td class="customer-status-name title-section">
                            <object data="/assets/dashboard/icons/customers/unregistered_customers_icon.svg"></object>
                            <p>Tommy Delware</p>
                        </td>
                        <td class="registration-date">
                            <p>-</p>
                        </td>
                        <td class="projects-number">
                            <p>5</p>
                        </td>
                        <td class="money-spend">
                            <p>$76654</p>
                        </td>
                        <td class="leaving-date">
                            <p>-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customer-id">
                            <p>356632</p>
                        </td>
                        <td class="customer-status-name title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>John Dale</p>
                        </td>
                        <td class="registration-date">
                            <p>2023-05-03</p>
                        </td>
                        <td class="projects-number">
                            <p>25</p>
                        </td>
                        <td class="money-spend">
                            <p>$10654</p>
                        </td>
                        <td class="leaving-date">
                            <p>-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customer-id">
                            <p>356782</p>
                        </td>
                        <td class="customer-status-name title-section" style="background-color: red;">
                            <object data="/assets/dashboard/icons/customers/unregistered_customers_icon.svg"></object>
                            <p>Jim Halpert</p>
                        </td>
                        <td class="registration-date">
                            <p>-</p>
                        </td>
                        <td class="projects-number">
                            <p>34</p>
                        </td>
                        <td class="money-spend">
                            <p>$36540</p>
                        </td>
                        <td class="leaving-date">
                            <p>-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customer-id">
                            <p>356122</p>
                        </td>
                        <td class="customer-status-name title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>Tommy Delware</p>
                        </td>
                        <td class="registration-date">
                            <p>2023-05-03</p>
                        </td>
                        <td class="projects-number">
                            <p>50</p>
                        </td>
                        <td class="money-spend">
                            <p>$76954</p>
                        </td>
                        <td class="leaving-date">
                            <p>-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customer-id">
                            <p>356632</p>
                        </td>
                        <td class="customer-status-name title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>John Dale</p>
                        </td>
                        <td class="registration-date">
                            <p>2023-05-03</p>
                        </td>
                        <td class="projects-number">
                            <p>3</p>
                        </td>
                        <td class="money-spend">
                            <p>$10654</p>
                        </td>
                        <td class="leaving-date">
                            <p>-</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="customer-id">
                            <p>356782</p>
                        </td>
                        <td class="customer-status-name title-section">
                            <object data="/assets/dashboard/icons/customers/lost_customers_icon.svg"></object>
                            <p>Jim Halpert</p>
                        </td>
                        <td class="registration-date">
                            <p>2023-05-03</p>
                        </td>
                        <td class="projects-number">
                            <p>8</p>
                        </td>
                        <td class="money-spend">
                            <p>$36554</p>
                        </td>
                        <td class="leaving-date">
                            <p>2023-10-03</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>