
<div class="header-skeleton skeleton"></div>
<div class="body-skeleton">
  <div class="status-skeleton">
    <div class="experience-year-skeleton skeleton"></div>
    <div class="completed-projects-skeleton skeleton"></div>
    <div class="happy-customers-skeleton skeleton"></div>
  </div>
  <div class="service-skeleton">
    <div class="h2-skeleton skeleton"></div>
    <div class="service-content-skeleton">
      <div class="service-skeleton skeleton"></div>
      <div class="service-skeleton skeleton"></div>
      <div class="service-skeleton skeleton"></div>
      <div class="service-skeleton skeleton"></div>
    </div>
  </div>
  <div class="works-skeleton">
    <div class="works-header-skeleton section-header">
      <div class="h2-skeleton skeleton"></div>
      <div class="work-filter-skeleton">
          <div class="title-skeleton skeleton"></div>
          <div class="title-skeleton skeleton"></div>
          <div class="title-skeleton skeleton"></div>
          <div class="title-skeleton skeleton"></div>
      </div>
      <div class="work-filter-shortcut-skeleton skeleton"></div>
    </div>
    <div class="work-items-skeleton">
      <div class="work-item skeleton"></div>
      <div class="work-item skeleton"></div>
      <div class="work-item skeleton"></div>
      <div class="work-item skeleton"></div>
      <div class="work-item skeleton"></div>
      <div class="work-item skeleton"></div>
    </div>
  </div>
  <div class="recommendations-skeleton">
    <div class="recommendations-header-skeleton section-header">
      <div class="h2-skeleton skeleton"></div>
      <div class="all-recommendations-skeleton skeleton"></div>
    </div>
    <div class="recommendations-items-skeleton">
      <div class="recommendations-item skeleton"></div>
      <div class="recommendations-item skeleton"></div>
    </div>
  </div>
  <div class="contact-skeleton">
    <div class="h2-skeleton skeleton"></div>
    <div class="contact-form-skeleton skeleton"></div>
  </div>
  <div class="footer-skeleton skeleton"></div>
</div>