<div class="more-recommendation-page-skeleton more-recommendation-page">
    <div class="header">
        <div class="h2-skeleton skeleton"></div>
        <span class="separator"></span>
        <div class="wrapper">
            <div class="content">
                <div class="recommendation-sort skeleton"></div>
                <div class="recommendation-sort skeleton"></div>
                <div class="recommendation-sort skeleton"></div>
                <div class="recommendation-sort skeleton"></div>
                <div class="recommendation-sort skeleton"></div>
                <div class="recommendation-sort skeleton"></div>
            </div>
        </div>
    </div>
    <div class="recommendation-content-skeleton recommendation-body">
        <div class="recommendation-element skeleton"></div>
        <div class="recommendation-element skeleton"></div>
        <div class="recommendation-element skeleton"></div>
        <div class="recommendation-element skeleton"></div>
        <div class="recommendation-element skeleton"></div>
        <div class="recommendation-element skeleton"></div>
    </div>
</div>