<div class="more-experience-page-skeleton">
    <div class="header-skeleton detail-page-header">
        <div class="h2-skeleton skeleton"></div>
    </div>
    <div class="content-skeleton asset-showcase">
        <ul>
            <li class="skeleton"></li>
            <li class="skeleton"></li>
            <li class="skeleton"></li>
            <li class="skeleton"></li>
            <li class="skeleton"></li>
            <li class="skeleton"></li>
        </ul>
    </div>
</div>