<div class="order-form-skeleton">
    <div class="form-container-skeleton order-form">
        <div class="h2-skeleton skeleton"></div>
        <div class="input-skeleton skeleton"></div>
        <div class="input-skeleton skeleton"></div>
        <div class="input-skeleton skeleton"></div>
        <div class="input-skeleton skeleton"></div>
        <div class="input-skeleton skeleton"></div>
        <div class="textarea-skeleton skeleton"></div>
        <div class="paragraph-skeleton">
            <div class="line-1 skeleton"></div>
            <div class="line-2 skeleton"></div>
            <div class="line-3 skeleton"></div>
        </div>
        <div class="validation-buttons-skeleton">
            <div class="btn skeleton"></div>
            <div class="btn skeleton"></div>
        </div>
    </div>
</div>