/* ---------------------- Header ---------------------- */

.main-content .container>.header-skeleton {
    width: 100%;
    height: 350px;
}

/* ---------------------- Body ---------------------- */

.main-content .container>.body-skeleton {
    width: 100%;
}

.main-content .container>.body-skeleton>div {
    width: 100%;
    margin: 40px 0;
}

/* ---------------------- Status ---------------------- */

.main-content .container>.body-skeleton .status-skeleton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35px;
    gap: 2rem;
}

/* ---------------------- Services ---------------------- */

.main-content .container .h2-skeleton {
    width: 20%;
    height: 35px;
}

.main-content .container .body-skeleton .service-content-skeleton {
    margin-top: var(--main-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    height: 450px;
}

/* ---------------------- Works ---------------------- */

.main-content .container .body-skeleton .works-skeleton .work-filter-skeleton {
    width: 42%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    grid-auto-rows: 35px;
}

.main-content .container .body-skeleton .works-skeleton .work-filter-shortcut-skeleton {
    display: none;
    width: 10px;
    height: 35px;
}


.main-content .container .body-skeleton .works-skeleton .work-items-skeleton {
    margin-top: var(--main-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    grid-auto-rows: 240px;
}

/* ---------------------- Recommendations ---------------------- */

.main-content .container .body-skeleton .recommendations-skeleton .recommendations-header-skeleton .all-recommendations-skeleton {
    width: 7%;
    height: 35px;
}

.main-content .container .body-skeleton .recommendations-items-skeleton {
    margin-top: var(--main-padding);
    width: 100%;
    display: flex;
    gap: 1.5rem;
    overflow: hidden;
}

.main-content .container .body-skeleton .recommendations-items-skeleton .recommendations-item {
    width: 35rem ;
    height: 300px;
}

.main-content .container .body-skeleton .contact-form-skeleton {
    margin-top: var(--main-padding);
    width: 100%;
    height: 500px;
}

.main-content .container .body-skeleton .footer-skeleton {
    width: 100%;
    height: 70px;
    margin-bottom: 0;
}



