<div class="grid-container-wrapper">
  <div class="grid-container">
    <div class="card col1-2-row1 generate-review-link-block">
      <p class="card-title">Generate Review Link</p>
      <hr>
      <div class="content">
        <div class="clear-link">
            <p>http://127.0.0.1:3400/review/12fr-43nr4-se432-ewj56</p>
        </div>
        <a class="new-review-link" href="" target="_blank">Review Link</a>
        <div class="submit-box">
            <input class="generate-review-link-btn" style="background-color: #1e90ff;" type="button" value="generated">
        </div>
      </div>
    </div>
    <div class="card col3-2-row1"></div>
  </div>
</div>