<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard | SC</title>
  <link rel="stylesheet" href="/style/dashboard-style.css">
  <link rel="stylesheet" href="/style/global.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
</head>

<body>
  <header>
    <div class="menu-side-bar-header">
      <div class="logo">
        <p>SA</p>
      </div>
      <span>Click to resize the sidebar</span>
      <div class="title">
        <p>Scheph Admin</p>
      </div>
    </div>
    <div class="header-tools">
      <i class='bx bxs-bell'></i>
      <div class="profile-info">
        <div class="profile"></div>
        <div class="profile-info-inner">
          <div class="username-section">
            <% if (user) { %>
              <h3><%= user.username %></h3>
            <% } %>
          </div>
          <div class="actions">
            <button action="my-profile" class="profile-action">My Profile</button>
            <button action="settings" class="profile-action">Settings</button>
            <button action="logout" class="profile-action">Log Out</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>
  <main>
    <section class="menu-side-bar">
      <div class="menu-side-bar-content">
        <ul>
          <li class="sidebar-menu-item" menu-item-type="dashboard">
            <i class='bx bxs-dashboard'></i>
            <p class="menu-item-title">Dashboard</p>
          </li>
          <li class="sidebar-menu-item" menu-item-type="order">
            <!-- <i class='bx bx-log-out-circle'></i> -->
            <svg class="menu-order-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="overflow: visible">
              <path fill="currentColor" d="m17.275 20.25l3.475-3.45l-1.05-1.05l-2.425 2.375l-.975-.975l-1.05 
              1.075zM6 9h12V7H6zm12 14q-2.075 0-3.537-1.463T13 18q0-2.075 1.463-3.537T18 13q2.075 0 3.538 
              1.463T23 18q0 2.075-1.463 3.538T18 23M3 22V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 
              5v6.675q-.7-.35-1.463-.513T18 11H6v2h7.1q-.425.425-.787.925T11.675 
              15H6v2h5.075q-.05.25-.062.488T11 18q0 1.05.288 2.013t.862 1.837L12 22l-1.5-1.5L9 
              22l-1.5-1.5L6 22l-1.5-1.5z" />
            </svg>
            <p class="menu-item-title">Order</p>
          </li>
          <li class="sidebar-menu-item" menu-item-type="projects">
            <svg class="menu-project-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28.798 34.723" style="overflow: visible">
              <g transform="translate(-488.683 -236.203)">
                <g transform="translate(488.683 236.203)">
                  <g transform="translate(0 0)">
                    <path d="M67.825,246.971a9.663,9.663,0,0,0-.029-1,3.064,3.064,0,0,0-1.993-2.621,3.149,3.149,0,0,0-1.028-.19c-.078,0-.156,0-.236,0s-.15,0-.225,0c-1-.012-2,0-3,0-.187,0-.374-.026-.6-.046a2.55,2.55,0,0,0-1.694-2.872H47.914l-.043.017a2.551,2.551,0,0,0-1.648,2.852c-.248.017-.452.049-.657.049-.974.006-1.95-.009-2.924,0l-.225,0c-.107,0-.213,0-.32,0a3.141,3.141,0,0,0-1.665.5l-.078.052a2.618,2.618,0,0,0-.974,1.141l-.043.089c-.012.032-.026.066-.04.1a3.229,3.229,0,0,0-.233.925l-.009.112c-.026.294-.023.591-.023.89q0,9.4,0,18.8v5.246a6.608,6.608,0,0,0,.2,1.849c.3.979.968,1.5,2.359,2.086h23.7c1.325-.559,2-1.063,2.307-1.965a6.1,6.1,0,0,0,.236-1.97v-5.983Q67.828,256,67.825,246.971ZM49.2,243.162h8.489v2.811H49.2Zm15.78,28.164c-.006.579-.19.743-.781.737-3.065-.017-6.13-.014-9.195-.014h-3.1c-3.082,0-6.162,0-9.244.014-.608.006-.786-.167-.784-.783v-.009q.013-5,.014-10.01,0-7.255-.012-14.51a1.809,1.809,0,0,1,.02-.294v-.006a.48.48,0,0,1,.444-.464H43.3a.07.07,0,0,1,.035,0c.735.006,1.475,0,2.232,0h.637c.009.069.014.138.017.2a5.992,5.992,0,0,0,.009.654,2.191,2.191,0,0,0,1.086,1.754c.046.026.092.052.138.072a1.431,1.431,0,0,0,.138.061c.063.026.127.046.193.066a1.624,1.624,0,0,0,.2.046c.069.014.141.023.213.032s.144.009.219.009q5.03.017,10.065,0h.023a2.167,2.167,0,0,0,2.2-2.039c.023-.251,0-.507,0-.856h.591c.758,0,1.5.009,2.235,0a.081.081,0,0,1,.037,0h.936c.377.058.467.305.467.763q-.009,5.626-.012,11.249v3.206q0,1.089,0,2.175,0,1.784,0,3.563,0,2.169.009,4.335Z" transform="translate(-39.03 -240.23)" fill="currentColor" />
                    <path d="M70.494,302.149a1.563,1.563,0,0,1-1.7,1.656c-.828.006-1.653.01-2.481.01-1.812.007-3.624,0-5.432-.01a1.594,1.594,0,0,1-1.737-1.633,1.515,1.515,0,0,1,1.227-1.494,2.361,2.361,0,0,1,.494-.058c1.335-.016,2.669-.007,4-.007,1.305,0,2.607-.01,3.913,0C69.854,300.632,70.471,301.194,70.494,302.149Z" transform="translate(-53.742 -283.414)" fill="currentColor" />
                    <path d="M98.974,282.007c.01,1.013-.643,1.617-1.815,1.64-1.013.02-2.026,0-3.039,0s-2.026.016-3.042,0a1.64,1.64,0,1,1,.042-3.247q3-.02,5.994,0C98.269,280.406,98.961,281.023,98.974,282.007Z" transform="translate(-75.558 -268.955)" fill="currentColor" />
                    <path d="M63.908,322.225a1.637,1.637,0,0,1-1.679,1.591q-.1.01-.2.01c-1.013.01-2.029,0-3.039,0s-2.029.013-3.042,0a1.581,1.581,0,0,1-1.773-1.594,1.616,1.616,0,0,1,1.815-1.649q2.693-.02,5.39,0c.231,0,.461,0,.692,0A1.664,1.664,0,0,1,63.908,322.225Z" transform="translate(-50.046 -297.694)" fill="currentColor" />
                    <path d="M65.6,281.96a1.538,1.538,0,0,1-1.529,1.653c-.218.016-.432.023-.649.023-.143,0-.286,0-.429-.006-.032,0-.065,0-.094,0-.114,0-.221,0-.334,0-.036,0-.075,0-.114,0h-.117c-.084,0-.169,0-.253,0-.127,0-.253,0-.38.007-.234.006-.464.006-.7,0-.1,0-.211-.01-.318-.016a1.594,1.594,0,0,1-1.549-1.653,1.572,1.572,0,0,1,1.546-1.568c1.127-.052,2.26-.049,3.387,0A1.551,1.551,0,0,1,65.6,281.96Z" transform="translate(-53.529 -268.93)" fill="currentColor" />
                  </g>
                </g>
              </g>
            </svg>
            <p class="menu-item-title">Projects</p>
          </li>
          <li class="sidebar-menu-item" menu-item-type="customers">
            <i class='bx bxs-user'></i>
            <p class="menu-item-title">Customers</p>
          </li>
          <li class="sidebar-menu-item" menu-item-type="mailbox">
            <i class='bx bxs-envelope'></i>
            <p class="menu-item-title">Mail Box</p>
          </li>
          <li class="sidebar-menu-item" menu-item-type="income">
            <i class='bx bxs-wallet'></i>
            <p class="menu-item-title">Income</p>
          </li>
          <li class="sidebar-menu-item" menu-item-type="analytics">
            <i class='bx bx-stats'></i>
            <p class="menu-item-title">Analytics</p>
          </li>
        </ul>
      </div>
      <div class="menu-side-bar-footer">
        <div class="theme">
          <div class="theme-identifier">
            <div class="theme-icon">
              <i class='bx bxs-moon'></i>
              <i class='bx bxs-sun'></i>
            </div>
            <p class="theme-title menu-item-title">Dark Mode</p>
          </div>
          <div class="theme-switcher">
            <span class="switch-btn"></span>
          </div>
        </div>
      </div>
    </section>
    <section class="main-content">
      <div class="container"></div>
    </section>
  </main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.js" integrity="sha512-wv0y1q2yUeK6D55tLrploHgbqz7ZuGB89rWPqmy6qOR9TmmzYO69YZYbGIYDmqmKG0GwOHQXlKwPyOnJ95intA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/dashboard-js/main.js" type="module"></script>
</body>

</html>