<div class="grid-container-wrapper">
    <div class="grid-container">
        <div class="card current-year-visitors global-overview cell-1">
            <object data="/assets/dashboard/icons/current_year_website_visitors_icon.svg"></object>
            <div class="details">
                <p class="details-title">Visitors</p>
                <p id="current-year-total-visitors">1364</p>
            </div>
        </div>
        <div class="card current-year-income global-overview cell-2">
            <object data="/assets/dashboard/icons/income/current_year_income_icon.svg"></object>
            <div class="details">
                <p class="details-title">Income</p>
                <p id="current-year-total-income">$ 130.864,00</p>
            </div>
        </div>
        <div class="card registered-customers global-overview cell-3">
            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
            <div class="details">
                <p class="details-title">Registered Customers</p>
                <p id="register-customers">136</p>
            </div>
        </div>
        <div class="card ongoing-projects global-overview cell-4">
            <object data="/assets/dashboard/icons/projects/ongoing_projects_icon.svg"></object>
            <div class="details">
                <p class="details-title">Ongoing Projects</p>
                <p id="ongoing-projects">10</p>
            </div>
        </div>
        <!-- <div class="card annual-income col1-3-row2">
            <div class="head">
                <p class="card-title">Annual Income</p>
                <div class="dropdown-container">
                    <div class="dropdown">
                        <p>2023</p>
                        <i class='bx bx-chevron-down'></i>
                    </div>
                    <div class="dropdown-content">
                        <p>2022</p>
                        <p>2021</p>
                        <p>2020</p>
                        <p>2019</p>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <canvas id="annual-income-chart" class="my-chart"></canvas>
            </div>
        </div>
        <div class="card"></div> -->
        <!-- <div class="card new-mails col1-2-row3">
            <p class="card-title">New mails</p>
            <hr>
            <div class="content">
                <div class="hover-highlight">
                    <div class="profile"></div>
                    <div class="mail-info">
                        <p>Customer Name</p>
                        <p>Object</p>
                    </div>
                    <div class="mail-date">
                        <p>1 hour ago</p>
                    </div>
                </div>
                <div class="hover-highlight">
                    <div class="profile"></div>
                    <div class="mail-info">
                        <p>Customer Name</p>
                        <p>Object</p>
                    </div>
                    <div class="mail-date">
                        <p>3 hour ago</p>
                    </div>
                </div>
                <div class="hover-highlight">
                    <div class="profile"></div>
                    <div class="mail-info">
                        <p>Customer Name</p>
                        <p>Object</p>
                    </div>
                    <div class="mail-date">
                        <p>6 hour ago</p>
                    </div>
                </div>
                <div class="hover-highlight">
                    <div class="profile"></div>
                    <div class="mail-info">
                        <p>Customer Name</p>
                        <p>Object</p>
                    </div>
                    <div class="mail-date">
                        <p>7 hour ago</p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="card col1-2-row3">
            <p class="card-title">Order</p>
            <hr>
            <div class="content">
                <table class="table order-table small-table">
                    <tr>
                        <th>Customer</th>
                        <th>Service</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/registered_customers_icon.svg"></object>
                            <p>Tommy Delware</p>
                        </td>
                        <td class="service">
                            <p>Web Development</p>
                        </td>
                        <td class="time">
                            <p>1 hour ago</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/unregistered_customers_icon.svg"></object>
                            <p>Peter Orangatan</p>
                        </td>
                        <td class="service">
                            <p>Logo</p>
                        </td>
                        <td class="time">
                            <p>3 hour ago</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/unregistered_customers_icon.svg"></object>
                            <p>John Dale</p>
                        </td>
                        <td class="service">
                            <p>UI Design</p>
                        </td>
                        <td class="time">
                            <p>6 hour ago</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-section">
                            <object data="/assets/dashboard/icons/customers/unregistered_customers_icon.svg"></object>
                            <p>Jim Halpert</p>
                        </td>
                        <td class="service">
                            <p>Poster</p>
                        </td>
                        <td class="time">
                            <p>7 hour ago</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card projects-overview col3-2-row3">
            <div class="head">
                <p class="card-title">Projects</p>
                <span>See More</span>
            </div>
            <hr>
            <div>
                <canvas id="projects-bar-chart-overview" class="my-chart"></canvas>
            </div>
        </div>
        <div class="card projects-details-overview col1-2-row4">
            <div class="head">
                <p class="card-title">Projects</p>
                <span>See More</span>
            </div>
            <hr>
            <div class="body">
                <table class="table projects-details-table">
                    <tr>
                        <th>ID</th>
                        <th>Project</th>
                        <th>Customer</th>
                    </tr>
                    <tr>
                        <td class="project-id">
                            <p>356121</p>
                        </td>
                        <td class="project-status-name title-section">
                            <object data="/assets/dashboard/icons/projects/new_projects_icon.svg"></object>
                            <p>Products poster and logo</p>
                        </td>
                        <td class="project-customer">
                            <p>Peter Orangatan</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="project-id">
                            <p>356122</p>
                        </td>
                        <td class="project-status-name title-section">
                            <object data="/assets/dashboard/icons/projects/ongoing_projects_icon.svg"></object>
                            <p>Business Website</p>
                        </td>
                        <td class="project-customer">
                            <p>Tommy Delware</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="project-id">
                            <p>356632</p>
                        </td>
                        <td class="project-status-name title-section">
                            <object data="/assets/dashboard/icons/projects/complete_projects_icon.svg"></object>
                            <p>E-commerce website</p>
                        </td>
                        <td class="project-customer">
                            <p>John Dale</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="project-id">
                            <p>356122</p>
                        </td>
                        <td class="project-status-name title-section">
                            <object data="/assets/dashboard/icons/projects/ongoing_projects_icon.svg"></object>
                            <p>Business Website</p>
                        </td>
                        <td class="project-customer">
                            <p>Tommy Delware</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>