<!-- <div> -->
    <div class="mail-inbox-container">
        <div class="inbox-sidebar">
            <button class="write-mail">Write a message</button>
            <div class="sidebar-menu">
                <div class="inbox-menu hover-highlight">
                    <i class='bx bxs-inbox'></i>
                    <p>Inbox</p>
                </div>
                <div class="send-mail-menu hover-highlight">
                    <i class='bx bx-mail-send'></i>
                    <p>Sent</p>
                </div>
                <div class="draft-menu hover-highlight">
                    <span class="iconify" data-icon="ri:draft-line"></span>
                    <p>Drafts</p>
                </div>
                <div class="trash-menu hover-highlight">
                    <i class='bx bx-trash'></i>
                    <p>Trash</p>
                </div>
            </div>
        </div>
        <div class="inbox-content">
            <div class="top">
                <div class="search-bar">
                    <button type="submit"><i class='bx bx-search'></i></button>
                    <input type="search" placeholder="Search for message...">
                </div>
                <div class="divider"></div>
            </div>
            <div class="messages">
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
                <div class="email hover-highlight">
                    <input type="checkbox" name="" id="">
                    <div>
                        <p class="sender-name">Jim Halpert</p>
                        <p class="subject">Celebration of 5 years service</p>
                        <p class="message-overview">Good news! Nicolas B. wants to rent your</p>
                    </div>
                    <p class="email-date">5 min ago</p>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>
<!-- </div> -->