<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base target="_blank" rel="noopener noreferrer">
  <title>Portfolio | Omar Scheph</title>
  <link rel="icon" type="image/x-icon" href="/assets/portfolio/img/coder.png">
  <link rel="stylesheet" href="/style/portfolio-style.css">
  <link rel="stylesheet" href="/style/portfolio-skeleton-style.css">
  <link rel="stylesheet" href="/style/global.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
</head>

<body>
  <div class="profile-details-shadow"></div>
  <div class="profile-details-shortcut">
    <div>
      <i class='bx bxs-user-circle'></i>
    </div>
  </div>
  <main>
    <div class="">
      <section class="profile-details">
        <div class="profile">
          <div class="profile-pic">
            <img src="/assets/portfolio/img/coder.png" alt="Profile">
          </div>
          <div class="name">
            <h2>Omar Scheph</h2>
          </div>
          <div class="profession">
            <p>Web Developer</p>
            <p>UI Designer</p>
            <p>Poster & Logo Maker</p>
          </div>
        </div>
        <div class="details-skills">
          <div class="details">
            <div class="detail">
              <p class="title">Telegram:</p>
              <p>@OmarScheph</p>
            </div>
            <div class="detail">
              <p class="title">Email:</p>
              <p>scheph69@gmail.com</p>
            </div>
            <div class="detail">
              <p class="title">Age:</p>
              <p>22</p>
            </div>
          </div>
          <span class="divider"></span>
          <div class="skills">
            <div class="programming-language">
              <div class="visible-language">
                <div class="html circle-progress">
                  <span class="arc arc-start html"></span>
                  <span class="arc arc-end"></span>
                  <p>95%</p>
                  <p>html</p>
                </div>
                <div class="js circle-progress">
                  <span class="arc arc-start js"></span>
                  <span class="arc arc-end"></span>
                  <p>80%</p>
                  <p>javascript</p>
                </div>
                <div class="css circle-progress">
                  <span class="arc arc-start css"></span>
                  <span class="arc arc-end"></span>
                  <p>95%</p>
                  <p>css</p>
                </div>
                <div class="more-languages-btn circle-progress">
                  <p><i class='bx bx-plus'></i></p>
                  <p>more</p>
                </div>
              </div>
              <div class="more-languages">
                <div class="visible-language">
                  <div class="wordpress circle-progress">
                    <span class="arc arc-start"></span>
                    <span class="arc arc-end"></span>
                    <p>70%</p>
                    <p>wordpress</p>
                  </div>
                  <div class="php circle-progress">
                    <span class="arc arc-start php"></span>
                    <span class="arc arc-end"></span>
                    <p>85%</p>
                    <p>php</p>
                  </div>
                  <div class="vuejs circle-progress">
                    <span class="arc arc-start"></span>
                    <span class="arc arc-end"></span>
                    <p>70%</p>
                    <p>vuejs</p>
                  </div>
                </div>
                <div class="visible-language">
                  <div class="svelte circle-progress">
                    <span class="arc arc-start"></span>
                    <span class="arc arc-end"></span>
                    <p>70%</p>
                    <p>svelte</p>
                  </div>
                  <div class="laravel circle-progress">
                    <span class="arc arc-start"></span>
                    <span class="arc arc-end"></span>
                    <p>70%</p>
                    <p>laravel</p>
                  </div>
                  <div class="flutter circle-progress">
                    <span class="arc arc-start"></span>
                    <span class="arc arc-end"></span>
                    <p>70%</p>
                    <p>flutter</p>
                  </div>
                </div>
              </div>
            </div>
            <span class="divider"></span>
            <div class="languages">
              <div class="language">
                <p class="title">ENGLISH</p>
                <span class="english"></span>
              </div>
              <div class="language">
                <p class="title">FRENCH</p>
                <span class="french"></span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="main-content">
        <div class="top-bg"></div>
        <div class="container">
          <div class="header-skeleton skeleton"></div>
          <div class="body-skeleton">
            <div class="status-skeleton">
              <div class="experience-year-skeleton skeleton"></div>
              <div class="completed-projects-skeleton skeleton"></div>
              <div class="happy-customers-skeleton skeleton"></div>
            </div>
            <div class="service-skeleton">
              <div class="h2-skeleton skeleton"></div>
              <div class="service-content-skeleton">
                <div class="service-skeleton skeleton"></div>
                <div class="service-skeleton skeleton"></div>
                <div class="service-skeleton skeleton"></div>
                <div class="service-skeleton skeleton"></div>
              </div>
            </div>
            <div class="works-skeleton">
              <div class="works-header-skeleton section-header">
                <div class="h2-skeleton skeleton"></div>
                <div class="work-filter-skeleton">
                    <div class="title-skeleton skeleton"></div>
                    <div class="title-skeleton skeleton"></div>
                    <div class="title-skeleton skeleton"></div>
                    <div class="title-skeleton skeleton"></div>
                </div>
                <div class="work-filter-shortcut-skeleton skeleton"></div>
              </div>
              <div class="work-items-skeleton">
                <div class="work-item skeleton"></div>
                <div class="work-item skeleton"></div>
                <div class="work-item skeleton"></div>
                <div class="work-item skeleton"></div>
                <div class="work-item skeleton"></div>
                <div class="work-item skeleton"></div>
              </div>
            </div>
            <div class="recommendations-skeleton">
              <div class="recommendations-header-skeleton section-header">
                <div class="h2-skeleton skeleton"></div>
                <div class="all-recommendations-skeleton skeleton"></div>
              </div>
              <div class="recommendations-items-skeleton">
                <div class="recommendations-item skeleton"></div>
                <div class="recommendations-item skeleton"></div>
              </div>
            </div>
            <div class="contact-skeleton">
              <div class="h2-skeleton skeleton"></div>
              <div class="contact-form-skeleton skeleton"></div>
            </div>
            <div class="footer-skeleton skeleton"></div>
          </div>
        </div>
        <div class="collapse-expand-sidebar">
          <i class='bx bx-chevron-left'></i>
        </div>
      </section>
    </div>
  </main>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="/js/portfolio-js/main.js" type="module"></script>




</body>

</html>