<div class="more-recommendation-page">
  <div class="header">
    <h2>Recommendations</h2>
    <span class="separator"></span>
    <div class="wrapper">
      <div class="content">
        <button class="recommendation-sort active" sort-rate="all">
          <p>All</p>
        </button>
        <button class="recommendation-sort" sort-rate="5">
          <p>5</p>
          <i class='bx bxs-star'></i>
        </button>
        <button class="recommendation-sort" sort-rate="4">
          <p>4</p>
          <i class='bx bxs-star'></i>
        </button>
        <button class="recommendation-sort" sort-rate="3">
          <p>3</p>
          <i class='bx bxs-star'></i>
        </button>
        <button class="recommendation-sort" sort-rate="2">
          <p>2</p>
          <i class='bx bxs-star'></i>
        </button>
        <button class="recommendation-sort" sort-rate="1">
          <p>1</p>
          <i class='bx bxs-star'></i>
        </button>
      </div>
    </div>
  </div>
  <%- include('more-recommendation-body') %>
</div>