<div class="order-success-page">
    <div>
        <div class="title">
            <h2>Your order has been sent successfully!</h2>
            <p>An email has been sent to you!</p>
        </div>
        <div class="content">
            <div class="order-details">
                <div class="details">
                    <div>
                        <p>Service Choosed:</p>
                    </div>
                    <div>
                        <p><%= service %></p>
                    </div>
                    <div>
                        <p>Customer Firstname:</p>
                    </div>
                    <div>
                        <p><%= firstname %></p>
                    </div>
                    <div>
                        <p>Customer Lastname:</p>
                    </div>
                    <div>
                        <p><%= lastname %></p>
                    </div>
                    <div>
                        <p>Customer Email:</p>
                    </div>
                    <div>
                        <p><%= email %></p>
                    </div>
                </div>
            </div>
            <div class="illustrations">
                <object data="/assets/portfolio/illustrations/order-completed.svg" type=""></object>
            </div>
        </div>
        <div class="bottom proceed-after-order-button">
            <button>Proceed</button>
        </div>
    </div>
</div>