<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Omar Scheph</title>
    <link rel="icon" type="image/x-icon" href="/assets/portfolio/img/coder.png">
    <link rel="stylesheet" href="/style/portfolio-style.css">
    <link rel="stylesheet" href="/style/global.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
</head>

<body>
    <div class="profile-details-shadow"></div>
    <div class="profile-details-shortcut">
        <div>
            <i class='bx bxs-user-circle'></i>
        </div>
    </div>
    <main>
        <div class="">
            <section class="profile-details">
                <div class="profile">
                    <div class="profile-pic"></div>
                    <div class="name">
                        <h2>Omar Scheph</h2>
                    </div>
                    <div class="profession">
                        <p>Web Developer</p>
                        <p>UI Designer</p>
                        <p>Poster & Logo Maker</p>
                    </div>
                </div>
                <div class="details-skills">
                    <div class="details">
                        <div class="detail">
                            <p class="title">Telegram:</p>
                            <p>@OmarScheph</p>
                        </div>
                        <div class="detail">
                            <p class="title">Email:</p>
                            <p>scheph69@gmail.com</p>
                        </div>
                        <div class="detail">
                            <p class="title">Age:</p>
                            <p>22</p>
                        </div>
                    </div>
                    <span class="divider"></span>
                    <div class="skills">
                        <div class="programming-language">
                            <div class="visible-language">
                                <div class="html circle-progress">
                                    <span class="arc arc-start html"></span>
                                    <span class="arc arc-end"></span>
                                    <p>95%</p>
                                    <p>html</p>
                                </div>
                                <div class="js circle-progress">
                                    <span class="arc arc-start js"></span>
                                    <span class="arc arc-end"></span>
                                    <p>80%</p>
                                    <p>javascript</p>
                                </div>
                                <div class="css circle-progress">
                                    <span class="arc arc-start css"></span>
                                    <span class="arc arc-end"></span>
                                    <p>95%</p>
                                    <p>css</p>
                                </div>
                                <div class="more-languages-btn circle-progress">
                                    <p><i class='bx bx-plus'></i></p>
                                    <p>more</p>
                                </div>
                            </div>
                            <div class="more-languages">
                                <div class="visible-language">
                                    <div class="wordpress circle-progress">
                                        <span class="arc arc-start"></span>
                                        <span class="arc arc-end"></span>
                                        <p>70%</p>
                                        <p>wordpress</p>
                                    </div>
                                    <div class="php circle-progress">
                                        <span class="arc arc-start php"></span>
                                        <span class="arc arc-end"></span>
                                        <p>85%</p>
                                        <p>php</p>
                                    </div>
                                    <div class="vuejs circle-progress">
                                        <span class="arc arc-start"></span>
                                        <span class="arc arc-end"></span>
                                        <p>70%</p>
                                        <p>vuejs</p>
                                    </div>
                                </div>
                                <div class="visible-language">
                                    <div class="svelte circle-progress">
                                        <span class="arc arc-start"></span>
                                        <span class="arc arc-end"></span>
                                        <p>70%</p>
                                        <p>svelte</p>
                                    </div>
                                    <div class="laravel circle-progress">
                                        <span class="arc arc-start"></span>
                                        <span class="arc arc-end"></span>
                                        <p>70%</p>
                                        <p>laravel</p>
                                    </div>
                                    <div class="flutter circle-progress">
                                        <span class="arc arc-start"></span>
                                        <span class="arc arc-end"></span>
                                        <p>70%</p>
                                        <p>flutter</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="divider"></span>
                        <div class="languages">
                            <div class="language">
                                <p class="title">ENGLISH</p>
                                <span class="english"></span>
                            </div>
                            <div class="language">
                                <p class="title">FRENCH</p>
                                <span class="french"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main-content">
                <div class="top-bg"></div>
                <div class="container">
                    <div class="header">
                        <div class="greeting-text">
                            <h1>Looking for a services?</h1>
                            <h2>Welcome Customer.</h2>
                            <h3>Take a seat and choose the service that suit you.</h3>
                        </div>
                        <div class="coder">
                            <img src="/assets/portfolio/img/coder.png">
                        </div>
                    </div>
                    <div class="body">
                        <div class="status">
                            <div class="experience-year">
                                <span>5+</span>
                                <p>Years Experience</p>
                            </div>
                            <div class="completed-projects">
                                <span>75</span>
                                <p>Completed Projects</p>
                            </div>
                            <div class="happy-customers">
                                <span>60</span>
                                <p>Happy Customers</p>
                            </div>
                        </div>
                        <div class="services">
                            <h2>Services</h2>
                            <div class="services-content">
                                <div class="service">
                                    <h3>Web Development</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Recusandae similique corporis dolore nulla nesciunt voluptates
                                        reprehenderit provident sit animi? Sint voluptate sunt est dolore
                                        voluptatem ad adipisci reprehenderit saepe unde?
                                    </p>
                                    <div class="order-now" service="web-development">
                                        <p>order now</p>
                                        <i class='bx bx-chevron-right'></i>
                                    </div>
                                </div>
                                <div class="service">
                                    <h3>UI Design</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Recusandae similique corporis dolore nulla nesciunt voluptates
                                        reprehenderit provident sit animi? Sint voluptate sunt est dolore
                                        voluptatem ad adipisci reprehenderit saepe unde?
                                    </p>
                                    <div class="order-now" service="ui-design">
                                        <p>order now</p>
                                        <i class='bx bx-chevron-right'></i>
                                    </div>
                                </div>
                                <div class="service">
                                    <h3>Poster & Logo</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Recusandae similique corporis dolore nulla nesciunt voluptates
                                        reprehenderit provident sit animi? Sint voluptate sunt est dolore
                                        voluptatem ad adipisci reprehenderit saepe unde?
                                    </p>
                                    <div class="order-now" service="poster-logo">
                                        <p>order now</p>
                                        <i class='bx bx-chevron-right'></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="works">
                            <div class="works-header">
                                <h2>Works</h2>
                                <div class="work-filter">
                                    <ul>
                                        <li><a href="#" class="title active">web</a></li>
                                        <li><a href="#" class="title">ui design</a></li>
                                        <li><a href="#" class="title">logo</a></li>
                                        <li><a href="#" class="title">poster</a></li>
                                    </ul>
                                </div>
                                <div class="work-filter-shortcut">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </div>
                                <div class="work-filter-shortcut-displayer">
                                    <ul>
                                        <li><a href="#" class="title active">web</a></li>
                                        <li><a href="#" class="title">ui design</a></li>
                                        <li><a href="#" class="title">logo</a></li>
                                        <li><a href="#" class="title">poster</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="works-content">
                                <div class="web">
                                    <div class="web-item-1" style="background-color: transparent;">
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="web-item-2"></div>
                                    <div class="web-item-3"></div>
                                    <div class="web-item-4"></div>
                                    <div class="web-item-5"></div>
                                    <div class="web-item-6"></div>
                                </div>
                                <div class="ui-design" style="display: none;">
                                    <div class="ui-design-item-1"></div>
                                    <div class="ui-design-item-2"></div>
                                    <div class="ui-design-item-3"></div>
                                    <div class="ui-design-item-4"></div>
                                    <div class="ui-design-item-5"></div>
                                    <div class="ui-design-item-6"></div>
                                </div>
                                <div class="logo" style="display: none;">
                                    <div class="logo-item-1"></div>
                                    <div class="logo-item-2"></div>
                                    <div class="logo-item-3"></div>
                                    <div class="logo-item-4"></div>
                                    <div class="logo-item-5"></div>
                                    <div class="logo-item-6"></div>
                                </div>
                                <div class="poster" style="display: none;">
                                    <div class="poster-item-1"></div>
                                    <div class="poster-item-2"></div>
                                    <div class="poster-item-3"></div>
                                    <div class="poster-item-4"></div>
                                    <div class="poster-item-5"></div>
                                    <div class="poster-item-6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="recommendations">
                            <h2>Recommendations</h2>
                            <div class="recommendations-content">
                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="recommendation-header">
                                                <div class="profile">
                                                    <div></div>
                                                    <h3>Username</h3>
                                                </div>
                                                <span>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                </span>
                                            </div>
                                            <div class="recommendation-content">
                                                <p> <!-- lorem 300 characters -->
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                                                    dis
                                                    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                                    nec,
                                                    pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                    Donec.
                                                </p>
                                            </div>
                                            <div class="recommendation-footer">
                                                <p>Jun 23, 2023</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommendation-header">
                                                <div class="profile">
                                                    <div></div>
                                                    <h3>Username</h3>
                                                </div>
                                                <span>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                </span>
                                            </div>
                                            <div class="recommendation-content">
                                                <p> <!-- lorem 100 -->
                                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
                                                    voluptatibus, debitis facilis nemo eveniet soluta omnis et adipisci
                                                    eaque optio ex, inventore, harum aperiam nulla eos ratione laudantium?
                                                    Alias consequatur velit illum nemo doloribus? Eos accusantium quos
                                                    voluptatem consequuntur quis vero totam beatae aspernatur optio,
                                                    inventore, est accusamus, officia sunt sit delectus dolorem doloremque
                                                    harum. Sed quia dolores autem inventore eaque, enim deserunt ex! Culpa,
                                                    autem dolor quam ad, qui tenetur, aliquid officia architecto maxime
                                                    magni sequi aut eum. Totam, reiciendis? Aliquid, autem iure beatae
                                                    itaque ipsum alias praesentium perspiciatis a corporis aliquam culpa,
                                                    voluptates illum nam recusandae necessitatibus commodi!
                                                </p>
                                            </div>
                                            <div class="recommendation-footer">
                                                <p>Jun 23, 2023</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommendation-header">
                                                <div class="profile">
                                                    <div></div>
                                                    <h3>Username</h3>
                                                </div>
                                                <span>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                </span>
                                            </div>
                                            <div class="recommendation-content">
                                                <p> <!-- lorem 10 -->
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
                                                    doloribus!
                                                </p>
                                            </div>
                                            <div class="recommendation-footer">
                                                <p>Jun 23, 2023</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommendation-header">
                                                <div class="profile">
                                                    <div></div>
                                                    <h3>Username</h3>
                                                </div>
                                                <span>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                </span>
                                            </div>
                                            <div class="recommendation-content">
                                                <p> <!-- lorem 15 -->
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                                                    placeat
                                                    dolorum
                                                    modi
                                                    minima porro cumque.
                                                </p>
                                            </div>
                                            <div class="recommendation-footer">
                                                <p>Jun 23, 2023</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommendation-header">
                                                <div class="profile">
                                                    <div></div>
                                                    <h3>Username</h3>
                                                </div>
                                                <span>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                </span>
                                            </div>
                                            <div class="recommendation-content">
                                                <p> <!-- lorem 40 -->
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos doloremque
                                                    facere at
                                                    aliquam! Quam
                                                    corrupti alias molestiae. Aut atque, ipsam delectus eum blanditiis natus
                                                    quo,
                                                    debitis molestiae
                                                    eligendi voluptate nulla dolorem sit explicabo repellendus qui autem
                                                    voluptatibus
                                                    quos itaque
                                                    quibusdam.
                                                </p>
                                            </div>
                                            <div class="recommendation-footer">
                                                <p>Jun 23, 2023</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="recommendation-header">
                                                <div class="profile">
                                                    <div></div>
                                                    <h3>Username</h3>
                                                </div>
                                                <span>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                </span>
                                            </div>
                                            <div class="recommendation-content">
                                                <p> <!-- lorem 25 -->
                                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores autem
                                                    beatae
                                                    neque, voluptatem
                                                    earum odio fugiat voluptas placeat pariatur quo facilis, ex vero culpa
                                                    quis.
                                                </p>
                                            </div>
                                            <div class="recommendation-footer">
                                                <p>Jun 23, 2023</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swipe-btns">
                                        <div class="swiper-pagination"></div>
                                        <div>
                                            <div class="swiper-button-prev-unique"><i class='bx bx-chevron-left'></i></div>
                                            <div class="swiper-button-next-unique"><i class='bx bx-chevron-right'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact">
                            <h2>Contact me</h2>
                            <div class="form-container">
                                <div class="input-box">
                                    <input type="text" name="customer-name" id="customer-name" placeholder="Name">
                                    <label class="input-icon-box" for="customer-name"><i class='bx bxs-user'></i></label>
                                </div>
                                <div class="input-box">
                                    <input type="text" name="customer-email" id="customer-email" placeholder="Email">
                                    <label class="input-icon-box" for="customer-email"><i class='bx bx-at'></i></label>
                                </div>
                                <div class="input-box">
                                    <textarea name="customer-message" id="" cols="30" rows="13"
                                        placeholder="Message"></textarea>
                                    <label class="input-icon-box" for="customer-message"><i
                                            class='bx bxs-envelope'></i></label>
                                </div>
                                <div class="submit-box">
                                    <input type="submit" value="send message">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <footer>
                            <div class="copyright">
                                <p>Copyright &COPY; All right reserved 2023</p>
                            </div>
                            <div class="author">
                                <p>Website author: <a href="#">Omar Scheph</a></p>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="/js/portfolio-js/main.js" type="module"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 'auto',
            // slidesPerView: 3,
            cssWidthAndHeight: true,
            spaceBetween: 20,
            // centeredSlides: true,
            grabCursor: true,
            initialSlide: 0,
            speed: 1000,
            loop: true,
            // autoplay: {
            //     delay: 3000,
            //     disableOnInteraction: false,
            // },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next-unique',
                prevEl: '.swiper-button-prev-unique'
            }
        });
    </script>


</body>

</html>



